<div class="row">
  <div class="col-4"></div>

  <div class="col-4">  
    <h2>Feed</h2>

    <div class="row" id="notes">
      <%= render partial: 'note', collection: @notes %>
    </div>
  </div>

  <div class="col-4"></div>
</div>