<%= turbo_frame_tag "new-note-form" do %>
  <%= link_to new_note_path do %>
    <div class="btn btn-outline-secondary">
      <i class="bi bi-plus-circle"></i>
      New note
    </div>
  <% end %>
<% end %>