<div class="row">
  <div class="col-4"></div>

  <div class="col-4">
    <%= render 'notes/partials/new_note_button' %>
    
    <div class="row" id="notes">
      <%= render @notes %>
    </div>
  </div>

  <div class="col-4"></div>
</div>