<div class="col-3 ms-4">
  <h2>Your subscriptions</h2>
    <% @followings.each do |user| %>
      <%= turbo_frame_tag dom_id(user) do %>
        <div class="my-3">
          <%= user.username %>
          <%= link_to subscription_path(id: user), data: { "turbo-method": :delete } do %>
            <i class="bi bi-x text-secondary"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>