<%= turbo_frame_tag dom_id(subscription) do %>
  <div class="my-3">
    <%= subscription.user.username %>
    <%= link_to subscription, data: { "turbo-method": :delete } do %>
      <i class="bi bi-x text-secondary"></i>
    <% end %>
  </div>
<% end %>
